<sly data-sly-use.navigation="com.open.core.models.NavigationModel"></sly>

<div class="header">

	<div class="logo">
		<img id="imglogo" src="${properties.fileReference}">
    </div>

	<div class="items">
		<nav>
   			<sly data-sly-list.childPage="${navigation.childPages}">
        		<ul>
           			 <li>
              			  <a href  ="${childPage.path}.html">${childPage.title} </a>
            	     </li>
        		</ul>
    		</sly>
	</nav>
	</div>

	<div class="sign">
		<a id="signbutton" href="https://www.google.com/" onclick="" >Sign in</a>
	</div>

</div>

