.footer{
    background:#FFFAF0;
    }
.copyright{
    font-size:180%;
	text-align:center;
    padding-top:10px;
    padding-bottom:30px;
}
.links{
    text-align:center;

        }
.icons{
    text-align: center;
    padding-top:15px;
    padding-bottom:10px;
    }
table{
    background-color:red;
}

a {
    text-decoration:none;
    padding:15px;

}

img {
    width:25px;
    height:25px;


}