
<!-- Social Icons - Start -->
<div data-sly-test="${wcmmode.edit && !resource.hasChildren}" class="cq-placeholder" data-emptytext="${component.title}"></div>
<table data-sly-test="${resource.hasChildren}" align="center" class="container footer" style="Margin:0 auto;background-color:#999999;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:100%;height: 250px">
    <tbody>
        <tr>
            <td>
                <table align="center" class="inner-container" style="Margin:0 auto;background:#999999;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;max-width:420px;min-width:420px;padding:0;text-align:center;vertical-align:top;width:420px">
                    <tbody>
                        <tr>
                        Copyright
                        </tr>
                        <tr>
                            <td align="center" style="Margin:0;border-collapse:collapse!important;margin:0;padding:0;text-align:center;vertical-align:top;">
                                <center data-parsed="" style="min-width:0;width:100%">
                                    <table align="center" class="social-links" style="Margin:0 auto;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:left;vertical-align:top;">
                                        <sly data-sly-list.children="${resource.listChildren}">
                                            <sly data-sly-test="${children.name == 'socialIcons' && children.hasChildren}">
                                                <tr>
                                                    <sly data-sly-list.socialIcon="${children.listChildren}">
                                                        <sly data-sly-test="${socialIcon.redirectSocialTarget}">
                                                            <td class="" style="Margin:0;float:none;margin:0;padding:0 12px 0 13px;text-align:left;">
                                                                <a x-cq-linkchecker="skip" href="${socialIcon.redirectSocialTarget}" target="_blank" style="Margin:0;margin:0;padding:0;text-decoration:none;color:#d2051e;font-family:HelveticaNeue,Helvetica,Arial,sans-serif;font-weight:400;line-height:1.225;font-size:12px;-webkit-tap-highlight-color:rgba(255, 255, 255, 0);"><img src="${socialIcon.socialIconReference}" alt="${socialIcon.alt ? socialIcon.alt : ''}" width="25" height="26" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;height:25px;max-width:25px;outline:0;text-decoration:none;width:25px;"></a>
                                                            </td>
                                                        </sly>
                                                    </sly>
                                                </tr>
                                                <tr>
                                                    <sly data-sly-list.socialIcon="${children.listChildren}">
                                                        <sly data-sly-test="${socialIcon.redirectSocialTarget}">
                                                            <td class="" style="Margin:0;float:none;margin:0;padding:0 12px 0 13px;text-align:left;">
                                                                <a x-cq-linkchecker="skip" href="${socialIcon.redirectSocialTarget}" target="_blank" style="Margin:0;margin:0;padding:0;text-decoration:none;color:#d2051e;font-family:HelveticaNeue,Helvetica,Arial,sans-serif;font-weight:400;line-height:1.225;font-size:12px;-webkit-tap-highlight-color:rgba(255, 255, 255, 0);">tutaj</a>
                                                            </td>
                                                        </sly>
                                                    </sly>
                                                </tr>
                                            </sly>
                                        </sly>
                                    </table>
                                </center>
                            </td>
                        </tr>
                        <tr><td height="25px" style="Margin:0;line-height:25px;margin:0;mso-line-height-rule:exactly;padding:0;">&#xA0;</td></tr>
                        <tr class="hide-on-small"><td height="10px" style="Margin:0;line-height:10px;margin:0;mso-line-height-rule:exactly;padding:0;">&#xA0;</td></tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<!-- Social Icons - End -->

