<sly data-sly-use.carousel="com.open.core.models.CarouselModel"></sly>
      <script type="text/javascript" src="/apps/newsportal/components/content/own_carousel/clientlibs/source/jquery.jcarousel.js"></script>
      <script type="text/javascript" src="/apps/newsportal/components/content/own_carousel/clientlibs/js/jcarousel.basic.js"></script>

      <div class="wrapper">
         <div class="jcarousel-wrapper">
            <div class="jcarousel">
               <ul>
                 <sly data-sly-list.news="${carousel.topNews}">
      
                  <li>${news.MainTitle}</li>
                 
               </ul>
            </div>
            <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
            <a href="#" class="jcarousel-control-next">&rsaquo;</a>
            <p class="jcarousel-pagination">
            </p>
         </div>
      </div>
